.card {
    border: 1px solid black;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    width: 350px;
    transition: 0.115s;
  }
  .card:hover{
    box-shadow: 0.5rem 0.5rem black;
    translate: -2px -2px;
  }
  .card > h2{
    font-size: 2rem;
    border-left: 0.5rem solid black;
    padding-left: 1rem;
  }
  .card > img {
    border-radius: 1rem;
  }
  
  .tags {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }
  
  .tags > .tag {
    padding: 0.2rem 0.5rem;
    background: black;
    color: white;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
  }