#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.card {
 border:  1px solid black;
 padding: 1rem;
 border-radius: 1rem;
 transition: 1.12s;
}
.card:hover{
  box-shadow: 0.5rem 0.5rem black;
  translate: -2px -2px;
}
.card > h2{
  font-size: 2rem;
}
.card > img {
  border-radius: 1rem;
}